<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
    <title>Resumen</title>
</head>
<body>
    <div id="side-bar" class="fixed"> </div> 
    
    <div id="profile" class=" pt-12 md:ml-64 h-screen gap-4 flex flex-col max-w-7xl mx-auto  items-center px-6">
        <h2 id="day-title" class="text-2xl lg:text-4xl font-extrabold leading-tight tracking-tight text-gray-900">
            Bienvenid@ a tu cuenta!
            </h2>
   </div>


   <script src="../components/sidebar.js"></script>
  <script type="module" src="index.js"></script>
</body>
</html>