<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">
    <title>Nosotros</title>
</head>
<body>
    <nav id="navbar" class="fixed top-0 left-0 right-0 h-16 bg-white border-gray-200"></nav>
    <main class="pt-16 text-purple-700 mx-auto p-4">
        <section class="container flex flex-col justify-center items-center gap-4 mx-auto py-8">
            <h2 class="text-2xl md:text-3xl font-bold text-center mb-8">¿Quienes Somos?</h2>
            <div class="flex flex-col md:w-3/4 gap-2   md:flex-row p-4 justify-center items-center shadow-lg rounded-lg">
            <img class="md:w-48"  src="/images/patronas.jpg" alt="">
            <p class="text-lg text-left">
                Nuestra academia, fundada en octubre de 2023 por Mariale Manuitt, Carolina Bastos, Carolina Ventura y Laura Cañizales, te invita a descubrir un mundo de posibilidades en el pole dance. Somos más que un gimnasio: somos una comunidad de mujeres que se empoderan, se divierten y crecen juntas</p>
            </div>
            <div class="flex flex-col md:w-3/4 gap-2 lg:h-96 overflow-auto   lg:flex-row p-4   shadow-lg rounded-lg">
                <img class="w-96" src="/images/patronas2.jpg" alt="Clase de Pole Fitness" class="md:size-3/4 lg:size-2/4">
                <div class="overflow-auto"> <p class="text-md text-left">
                    <p class="text-lg text-left">En nuestra academia, creemos que cada mujer tiene una fuerza única. Por eso, te ofrecemos un espacio seguro y divertido para explorar tus límites y descubrir un nuevo nivel de confianza.  <br> <br> Desde los fundamentos básicos hasta coreografías creativas, nuestro enfoque combina técnica y expresión artística para que puedas crecer a tu propio ritmo. Ofrecemos clases para todos los niveles, desde principiantes que desean dar sus primeros pasos hasta avanzadas que buscan perfeccionar sus habilidades. Además de nuestras clases regulares, organizamos talleres temáticos, eventos especiales y programas de entrenamiento personalizados para que siempre tengas nuevos desafíos.  <br> <br>

                       </p>
                </div>
            </div>
            
        </section>
        
        <section class="container gap-4  mx-auto py-8">
            <h2 class="text-3xl font-bold text-center mb-8">Nuestra Misión y Visión</h2>
            <div class="flex   flex-col gap-4 p-4 md:flex-row md:justify-center">
                <div class="shadow-lg gap-4 p-4 md:w-96">
                    <h3 class="text-2xl font-bold mb-4">Misión</h3>
                    <img src="/images/duo.jpg" alt="">
                    <p class="text-left">Empoderar a las mujeres a través del pole dance, fomentando la fuerza, la confianza y la expresión personal.
                        Crear una comunidad de mujeres apasionadas por el pole dance, donde la diversión y el crecimiento personal van de la mano.
                        </p>
                </div> 
                <div class="shadow-lg gap-4 p-4 md:w-96">
                    <h3 class="text-2xl font-bold mb-4">Visión</h3>
                    <img src="/images/patronasdeblanco.jpg" alt="">
                    <p class="text-left">Ser el referente en pole dance, empoderando a mujeres a través de la fuerza, la elegancia y la diversión. Queremos crear una comunidad donde cada mujer se sienta segura, motivada y capaz de alcanzar sus metas, tanto físicas como personales. A través de nuestras clases, talleres y eventos, buscamos inspirar y transformar vidas, demostrando que con pasión y dedicación, cualquier objetivo es posible.</p>
                </div>
            </div>
        </section>
        
        <section class="container mx-auto py-16">
            <h2 class="text-3xl font-bold text-center mb-8">Energía Vertical: Eleva tu alma, fortalece tu cuerpo.</h2>
           
        </section>
        
        <section class="container mx-auto py-16">
            <h2 class="text-3xl font-bold text-center mb-8">Nuestra Ubicación</h2>
            <p class="text-center">Santa Fé, Caracas-Venezuela</p>
        </section>
        
        <section class="container mx-auto py-16">
            <h2 class="text-3xl font-bold text-center mb-8">Contáctanos</h2>
            <div class="flex gap-4 justify-center">
                <a href="wa.me/584142601708" target="_blank" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">WhatsApp</a>
                <a href="https://www.instagram.com/energiavertical/" target="_blank" class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded">Instagram</a>
            </div>
        </section>
        <footer class="bg-white flex justify-center items-center rounded-lg  m-4">
            <div class="w-full flex  justify-center items-center max-w-screen-xl mx-auto p-4">
              
                
                <span class=" text-sm text-gray-500 text-center"> © 2025 Desarrollado por: Darwin La Rosa.</span>
            </div>
        </footer>
      </main>





    <script src="/components/nav.js"></script>
</body>
</html>